#header{
    background-color:#303030;
    padding:10vh 10vw;
}
#title{
font-size: 50px;
}

#flex-container{
display:flex;
flex-direction: row;
}

#nav-bar{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
padding:10px;
flex:1;
background-color:rgb(78, 78, 78);
height:70vh;
text-align:center;
justify-content: space-around;
}
.label{
font-size:20px;
}
.community-links {
    background-color: antiquewhite;
    padding:10%;
}

.content {
flex:9;
margin:2%;
}
.content-title{
    font-size:30px;
    text-align: center;
    margin:2%;
}

#local-board {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr td{
    padding: 5px;
    border: 1px solid #dddddd;
}
body {
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
}

.light-bg {
    background-color: rgba(255, 255, 255, 0.5);
}