body {
    background-color: #121212;
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
}

.light-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

#header {
    background-color: #303030;
    padding: 5vh;
    box-shadow: 0 4px 8px 0 rgba(51, 37, 37, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#title {
    font-size: 50px;
    padding: 10%;
    width: fit-content;
    text-decoration: none;
    color: antiquewhite;
    text-align: left;
}

#flex-container {
    display: flex;
    flex-direction: row;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    flex: 1;
    background-color: rgb(78, 78, 78);
    height: 85vh;
    text-align: center;
    justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label {
    font-size: 20px;
}

.community-links {
    padding: 10%;
    text-decoration: none;
    color: rgb(241, 241, 241);
    border-radius: 10px;
    transition: 0.3s;
}

.community-links:hover {
    background-color: rgb(117, 117, 117);
    opacity: 1;
}

.content {
    flex: 9;
    margin: 2%;
}

.content-title {
    font-size: 30px;
    text-align: center;
    margin: 2%;
}

#local-board {
    /* font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px; */

    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}


#local-board tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

tr td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

#local-board tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}