{%extends 'base.html' %}

{%block head %}

{%endblock%}

{%block content %}
<div class="content"> 
    <div class="content-title">    
        LeaderBoard!!!
    </div>
<table id="local-board">
    <tr>
      <td>1</td>
      <td>Alex Gutierrez</td>
      <td>101lbs</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jari Zaidi</td>
      <td>102lbs</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Joey Marcinowski</td>
        <td>103lbs</td>
      </tr>
  </table>
  <script src="/static/js/leaderboard-script.js"></script>
  </div>
{%endblock%}